.fret-0 {
    width: 50px;
}

.fret-1 {
    width: 8.42384106%;
}

.fret-2 {
    width: 7.95584989%;
}

.fret-3 {
    width: 7.505518764%;
}

.fret-4 {
    width: 7.081677704%;
}

.fret-5 {
    width: 6.684326711%;
}

.fret-6 {
    width: 6.313465784%;
}

.fret-7 {
    width: 5.960264901%;
}

.fret-8 {
    width: 5.624724062%;
}

.fret-9 {
    width: 5.306843267%;
}

.fret-10 {
    width: 5.006622517%;
}

.fret-11 {
    width: 4.72406181%;
}

.fret-12 {
    width: 4.459161148%;
}

.fret-13 {
    width: 4.21192053%;
}

.fret-14 {
    width: 3.973509934%;
}

.fret-15 {
    width: 3.752759382%;
}

.fret-16 {
    width: 3.540838852%;
}

.fret-17 {
    width: 3.346578366%;
}

.fret-18 {
    width: 3.152317881%;
}

.fret-19 {
    width: 2.975717439%;
}
